<div class="container">
  <div *ngFor="let bunny of bunnyService.bunnies" class="border border-success m-3 rounded-2 p-1">
    <h3>{{ bunny.name }}</h3>
    <p>Age: {{ bunny.age }}</p>
    <p>Gender: {{ bunny.gender }}</p>
    <p>Breed: {{ bunny.bun_breed_name }}</p>
    <p>Date of Birth: {{ bunny.dob | date:'longDate'}} </p>
    
    <button class="bg-danger-subtle m-1 rounded-2" (click)="onDeleteBunny(bunny)">Remove Bunny</button>

    <!-- ** EDIT BUTTON ** -->
    <button class="bg-primary rounded-2 ms-4" (click)="editBunny(bunny)">Edit Bunny</button>
  
    <div *ngIf="editMode && bunny.bunny_id === editId">
      <form  [formGroup]="editBunnyForm"  >
      <input [formControl]="editName" name="name" placeholder="Name">
      <input [formControl]="editAge" name="age" placeholder="Age">
      
      <select class="p-1 text-bg-success" [formControl]="editGender" id="gender" name="gender">
        <option value="">Choose</option>
        <option value="M">Boy Buns</option>
        <option value="F">Girl Buns</option>
    </select>
     
      <select class="p-1 text-bg-success" 
       [formControl]="editBreed"
                id="breed" 
                name="breed">
                    <option value="">Choose</option>
                    <option 
                      *ngFor="let breed of bunnyService.breeds" 
                      [value]= "breed.breed_id">{{breed.breed_name}}
                    </option>
                </select>
      <input [formControl]="editDOB" name="dob" type="date" (change)="updateDate($e)" >

    </form>
    
    <button (click)="onUpdateBunny()">Save Changes</button>

    <button (click)="onCancelEdit()">Cancel</button>
    </div>
  
  
  
  
  </div>

  
</div>
