<nav class="navbar">
    
    <form class="container-fluid justify-content-start">
        <a class="nav-link" href="#">
            <button class="btn btn-outline-success me-2" type="button">Home</button>
        </a>
        <a class="nav-link" href="#">
            <button class="btn btn-outline-success me-2" type="button">My Bunnies</button>
        </a>
        <a href="/bunnyform" class="nav-link">
            <button class="btn btn-outline-success me-2" type="button">Add A Bun</button>
        </a>
        
        <a href="/moreinfo" class="nav-link">
            <button class="btn btn-outline-success me-2" type="button">Bunny Education</button>
        </a>
        
        
    </form>
</nav>
<h2 class="display-6"> My Bunny App 🐰 </h2>