<h2> Fill out information for your bunny: </h2>

<div class="container">
    <div class="border border-danger m-3 rounded-2">
        <h3>Bunny Form</h3>

        <form #ngForm="ngForm" [formGroup]="bunnyForm" (submit)="onSubmitForm()">

            <!-- **** NAME -->
            <div class="form-group p-1">
                <label class="m-2" for="name">Name:</label>
                <input class="text-bg-success" formControlName="name" type="text" id="name" name="name">
                <!-- <div class="text-danger" *ngIf= "bunnyForm.get('name').invalid  && bunnyForm.get('name').touched "  >Name required</div> -->
                <!-- <div class="text-danger" *ngIf="bunnyForm.get('input-name')?.touched">Name required</div> -->
                <div class="text-danger" *ngIf="bunnyForm.get('name').invalid && ngForm.submitted">Name required</div>
            </div>

            <div>
                <label class="m-2" for="name">Age:</label>
                <input class="text-bg-success" formControlName="age" type="number" id="age" name="age" required>
            </div>

            <!-- **** GENDER -->
            <div class="form-group">
                <label class="m-2" for="gender">Gender:</label>
                <select class="p-1 text-bg-success" formControlName="gender" id="gender" name="gender">
                    <option value="">Choose</option>
                    <option value="male">Boy Buns</option>
                    <option value="female">Girl Buns</option>
                </select>
                
                <!-- **** BREED -->
                <label class="m-2" for="breed">Breed:</label>
                <select class="p-1 text-bg-success" formControlName="breed" id="breed" name="breed">
                    <option value="">Choose</option>
                    <option value="holland">Holland Lop</option>
                    <option value="dutch">Dutch</option>
                    <option value="rex">Rex</option>
                    <option value="mix">Mix</option>
                </select>
            </div>

            <!-- **** WEIGHT LBS -->
            <div>
                <label class="m-2" for="weight">Weight (lbs):</label>
                <input formControlName="weight" class=" text-bg-success" type="number" id="weight" name="weight">
            </div>
            <button class="btn btn-info m-2" (click)="onAddBunny()">Add Bunny</button>
        </form>
        <p class="m-2">{{bunnyAdditiondStatus}} </p>
    </div>
</div>

<!-- Switching to template driven below -->

<h2>Trial Form:</h2>
<div class="container">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        
    <form (ngSubmit)="onSubmitForm()"></form>
    <div id="user-data">
          
        <div class="form-group">
          <label for="bunnyName">Bunny Name</label>
          <input 
          type="text" 
          id="bunnyName" 
          class="form-control"
          ngModel
          ngNativeValidate
          name="bunnyName"
          minlength="2"
          required
          placeholder="Add buns name"
          bunnyName
          #bunnyName="ngModel">
          <span class="help-block" *ngIf= "bunnyName.errors?.['minlength']">bunnyName must be at least 2 characters. </span>
          <span class="help-block" *ngIf="!bunnyName.valid && bunnyName.touched" >Please enter a valid bunnyName</span>
          
        </div>
        <button class="btn btn-default" type="button">Suggest an Username</button>

        <div class="form-group">
          <label for="email">Mail</label>
          <input 
          type="email" 
          id="email" 
          class="form-control"
          ngModel
          name="email"
          required
          email
          placeholder="Your email"
          #email="ngModel">
          <span class="help-block" *ngIf="!email.valid && email.touched" >Please enter a valid email</span>
        </div>
      </div>
    
    </div>




</div>





<app-bunny-list [bunnies]="bunnies"></app-bunny-list>