
<h1 class="display-3">The Bunny App 🐰</h1>

<div class="container">
    <div class="border border-danger m-3 rounded-2">
        <h3 class="text-danger">Bunny Form</h3>

        <form [formGroup]= "bunnyForm">
            <div class="form-group p-1">
                <label class="m-2" for="name">Name:</label>
                <input formControlName="name" type="text" id="name" name="name">
                <div *ngIf="bunnyForm.get('name').invalid">Name required</div>
            </div>
            
            <!-- **** NAME -->
            <div>
                <label class="m-2" for="name">Age:</label>
                <input formControlName="age" type="number" id="age" name="age" required>
            </div>
            <!-- **** GENDER -->
            <div class="form-group">
                <label class="m-2" for="gender">Gender:</label>
                <select class="p-1" formControlName="gender" id="gender" name="gender">
                    <option value="">Choose</option>
                    <option value="male">Boy Buns</option>
                    <option value="female">Girl Buns</option>
                </select>
                <!-- **** BREED -->
                <label class="m-2" for="breed">Breed:</label>
                <select formControlName="breed"  id="breed" name="breed">
                    <option value="">Choose</option>
                    <option value="holland">Holland Lop</option>
                    <option value="dutch">Dutch</option>
                    <option value="rex">Rex</option>
                    <option value="mix">Mix</option>
                </select>
            </div>

            <!-- **** WEIGHT LBS -->
            <div>
                <label class="m-2" for="weight">Weight (lbs):</label>
                <input formControlName="weight" class="m-2" type="number" id="weight" name="weight">
            </div>
            <button class="btn btn-info m-2" (click)="onAddBunny()">Add Bunny</button>
        </form>
        <p class="m-2">{{bunnyAdditiondStatus}} </p>
    </div>
</div>

<app-bunny-list [bunnies]="bunnies"></app-bunny-list>

