<h3> Fill out information for your bunny: </h3>

<div class="container">
    <div class="border border-success m-3 rounded-2">
        <h2 class="m-1">Bunny Form</h2>

        <form #ngForm="ngForm" [formGroup]="bunnyForm" (submit)="onSubmitForm()">

            <!-- **** NAME -->
            <div class="form-group p-1">
                <label class="m-1" for="name">Name:</label>
                <input 
                class="text-bg-success" 
                formControlName="name" 
                type="text" 
                id="name" 
                name="name"
                required>
                <div class="text-danger" *ngIf="bunnyForm.get('name').invalid && ngForm.submitted">Name required</div>
            </div>

            <div>
                <label class="m-2" for="name">Age:</label>
                <input 
                class="text-bg-success" 
                formControlName="age" 
                type="number" 
                id="age" 
                name="age" 
                required>
            </div>

            <!-- **** GENDER -->
            <div class="form-group">
                <label class="m-2" for="gender">Gender:</label>
                <select class="p-1 text-bg-success" formControlName="gender" id="gender" name="gender">
                    <option value="">Choose</option>
                    <option value="Male">Boy Buns</option>
                    <option value="Female">Girl Buns</option>
                </select>
                
                <!-- **** BREED -->
                <label class="m-2" for="breed">Breed:</label>
                <select class="p-1 text-bg-success" formControlName="breed" id="breed" name="breed">
                    <option value="">Choose</option>
                    <option value="Holland Lop">Holland Lop</option>
                    <option value="Dutch">Dutch</option>
                    <option value="Rex">Rex</option>
                    <option value="Mix">Mix</option>
                </select>
            </div>

            <!-- **** DATE OF BIRTH -->
            <div>
                <label class="m-2" for="dob">Date of Birth:</label>
                <input formControlName="dob" class=" text-bg-success" type="date" id="dob" name="dob">
            </div>
            <!--  ****** BUTTON -->
            <button class="btn btn-info m-2" (click)="onAddBunny()">Add Bunny</button>
        </form>
        
    </div>
</div>

<app-bunny-list [bunnies]="bunnies"></app-bunny-list>























<!-- Switching to template driven below -->
<!-- 
<h2>Trial Form:</h2>
<div class="container">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        
    <form (ngSubmit)="onSubmitForm()"></form>
    <div id="user-data">
          
        <div class="form-group">
          <label for="bunnyName">Bunny Name</label>
          <input 
          type="text" 
          id="bunnyName" 
          class="form-control"
          ngModel
          ngNativeValidate
          name="bunnyName"
          minlength="2"
          required
          placeholder="Add buns name"
          bunnyName
          #bunnyName="ngModel">
          <span class="help-block" *ngIf= "bunnyName.errors?.['minlength']">bunnyName must be at least 2 characters. </span>
          <span class="help-block" *ngIf="!bunnyName.valid && bunnyName.touched" >Please enter a valid bunnyName</span>
          
        </div>
        <button class="btn btn-default" type="button">Suggest an Username</button>

        <div class="form-group">
          <label for="email">Mail</label>
          <input 
          type="email" 
          id="email" 
          class="form-control"
          ngModel
          name="email"
          required
          email
          placeholder="Your email"
          #email="ngModel">
          <span class="help-block" *ngIf="!email.valid && email.touched" >Please enter a valid email</span>
        </div>
      </div>
    
    </div>




</div>




 -->
