<div class="border border-success rounded-2 m-3"> 
<h3 class="text-success"> Bunny Education Links </h3>
<div class="container">
    <div class="sidebar">
      <ul>
        <li><a href="#">Proper Bunny Diet</a></li>
        <li><a href="#">How to Free Roam Your Rabbit</a></li>
        <li><a href="#">Litter box training</a></li>
        <li><a href="#">Common Bunny Illnesses</a></li>
        <li><a href="#">Should You Get a Bunny</a></li>
        <li><a href="#">Caring for Alaska Feral Bunnies</a></li>


      </ul>
    </div>

</div>