

<div class="border border-danger m-3 rounded-2">
    <h3 class="text-danger">Bunny Details Component</h3>

    <form>
        <div>
            <label class="m-2" for="name">Name:</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div>
            <label class="m-2" for="birthday">Birthday:</label>
            <input class="m-2" type="date" id="birthday" name="birthday" required>
        </div>
        <div>
            <label class="m-2" for="gender">Gender:</label>
            <select id="gender" name="gender" required>
                <option value="">Choose</option>
                <option value="male">Boy Buns</option>
                <option value="female">Girl Buns</option>
            </select>

            <label class="m-2" for="breed">Breed:</label>
            <select id="breed" name="breed" required>
                <option value="">Choose</option>
                <option value="male">Holland Lop</option>
                <option value="female">Dutch</option>
                <option value="male">Rex</option>
                <option value="female">Mix</option>

            </select>
        </div>

        <div>
            <label class="m-2" for="weight">Weigth:</label>
            <input class="m-2" type="number" id="weight" name="weight" >
        </div>
        <div>
            <button class="m-2" type="submit">Submit</button>
        </div>
    </form>
</div>